<h3>Оставить комментарий</h3>
<form action="/contacts" method="POST" role="form">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>
    <input type="text" name="contact[name]" class="form-control" placeholder="Имя" value="<%= @contact.name %>">
  </div>  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Ваш Email</label>
    <input type="email" name="contact[email]" class="form-control" placeholder="name@example.com" value="<%= @contact.email %>">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
    <textarea name="contact[message]" class="form-control" rows="3"></textarea value="<%= @contact.message %>">
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
